/*
#############################################3
*/
.navbar {
  background-color: #ffffff; /* White background */
  color: #050505; /* Black text */
  padding: 12px;
  flex-direction: row;
  display: flex; /* Make the items horizontal */
  justify-content: space-between; /* Distribute items evenly */
  border-radius: 5px;
  width: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none; /* Remove default bullets */
  margin: 0; /* Remove default margins */
}

.navbar li {
  margin-right: 20px; /* Add spacing between items */
}
.intro a {
  text-decoration: none;
}

.navbar a {
  text-decoration: none; /* Remove link underlines */
  color: inherit; /* Inherit text color from .navbar */
  /* Add padding to links */
  display: flex;
  align-items: center;
}

.button {
  text-decoration: none;
  background-color: rgb(240, 173, 206);
  color: #050505;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  border: 1px solid rgb(240, 173, 206);
  overflow: hidden;
  display: flex;
  align-items: center;

}
.button img {
  height: 10px;
  width: 15px;
}
.navbar button:hover{
  color: rgb(148, 11, 75);
  border-radius: 5px;
  background-color: transparent;
}
.intro-button {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.intro button:hover {
  color: white;
  border-radius: 5px;
  background-color: transparent;
}
.navbar a:hover {
  color: rgb(148, 11, 75); /* Add a hover effect */
  border-radius: 5px;
}
/*#######################################3
*/
@media (min-width: 670px) {
  .navbar {
    padding: 12px 4rem;
  }
  .navbar li {
    display: inline-block;
  }
  .down {
    display: inline-block;
  }
  .toggle-container img {
    width: 15 px;
    object-fit: contain;
  }
}
@media (max-width: 670px) {
  .navbar {
    padding: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .navbar ul {
    display: flex;
    flex-direction: row;
    padding-left: 0rem;
  }

  /* .logo {
    margin-bottom: 0px;
    margin-right: 315px;
    margin-top: 18px;
  } */
  .down {
    display: none;
  }
  .navbar li {
    margin: 5px 0;
    margin-left: 18px;
  }

  .down .btn {
    margin-left: 150px;
  }

  .logo img {
    width: 20px;
    height: 20px;
  }
}
