/*
#############################################3
*/
.navbar {
  background-color: #ffffff; /* White background */
  color: #050505; /* Black text */
  padding: 12px;
  flex-direction: row;
  display: flex; /* Make the items horizontal */
  justify-content: space-around; /* Distribute items evenly */
  border-radius: 5px;
  width: 100%;
}
.logo {
  margin-right: 450px;
}
.navbar ul {
  list-style: none; /* Remove default bullets */
  margin: 0; /* Remove default margins */
}

.navbar li {
  display: inline-block; /* Make the items inline */
  margin-right: 20px; /* Add spacing between items */
}

.navbar a {
  text-decoration: none; /* Remove link underlines */
  color: inherit; /* Inherit text color from .navbar */
  /* Add padding to links */
  display: flex;
  align-items: center;
}
.navbar .btn a {
  text-decoration: none;
  color: #050505;
}
.btn {
  background-color: rgb(240, 173, 206);
  color: #050505;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}
.btn img {
  height: 10px;
  width: 15px;
}
.btn a {
  text-decoration: none;
  color: #fff;
}
.btn a:hover {
  color: white;
  border-radius: 5px;
}
.navbar a:hover {
  color: rgb(148, 11, 75); /* Add a hover effect */
  border-radius: 5px;
}
/*#######################################3
*/
@media (max-width: 670px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 6px;
  }

  .logo {
    margin-bottom: 0px;
    margin-right: 315px;
    margin-top: 18px;
  }

  .navbar li {
    margin: 5px 0;
    margin-left: 18px;
  }
  .down .btn {
    margin-left: 150px;
  }

  .logo img {
    max-width: 20px;
    height: auto;
  }
}
